* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

#container {
  margin: 0 auto;
  padding: 13rem 15rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  margin: 15px;
  transform: scale(1);
  transition: transform 1s ease;
}
.product:hover{
  transform: scale(1.3);
}


.box {
  padding: 6rem 8rem;
  background: #4e738e;
  border-radius: 10px;
  border: 1px solid #707070;
  cursor: pointer;
  margin: 15px;
}

.title {
  font-size: 12px;
  text-align: center;
}

/* ------ PREWIEW - SHOW THE PRODUCT POPUP ------ */

.product-preview {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.product-preview .preview {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  height: 600px;
  border: 1px solid #707070;
  border-radius: 10px;
  position: relative;
  background: #fff;
  position: relative;
  margin: 3rem;
  width: 45%;
}

.product-preview .preview.active {
  display: grid;
}

.box-color {
  background: #30506c;
  width: 100%;
  border-right: 1px solid #707070;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.product-name {
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.product-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: static;
}

.fa-xmark {
  position: absolute;
  right: 3%;
  font-size: 20px;
  color: #555555;
}

.stars-outer {
  position: sticky;
  display: -webkit-box;
  font-size: 13px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005  \f005  \f005  \f005  \f005 ";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005  \f005  \f005  \f005  \f005 ";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #F2D360;
}

.serialNumber {
  padding-left: 10px;
  color: #555555;
}

.about-content {
  padding-top: 30px;
}

.about-description {
  color: #555555;
  padding-right: 18px;
  padding-top: 5px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47%;
  margin: 17px 0;
  padding: 15px;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid #30506c;
  color: #30506c;
  background: #fff;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
}

button:hover{
  background: #30506c;
  color: #ccc;
}

