* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

#container {
  margin: 0 auto;
  padding: 9rem 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  margin: 15px;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.product:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.box {
  padding: 6rem 8rem;
  background: #4e738e;
  border-radius: 10px;
  border: 1px solid #707070;
  cursor: pointer;
  margin: 15px;
}

.title {
  font-size: 12px;
  text-align: center;
}

/* ------ PREWIEW - SHOW THE PRODUCT POPUP ------ */
.product-preview {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-preview .preview {
  display: none;
  /* -ms-grid-columns: (1fr)[2]; */
      grid-template-columns: repeat(2, 1fr);
  height: 600px;
  border: 1px solid #707070;
  border-radius: 10px;
  position: relative;
  background: #fff;
  position: relative;
  margin: 3rem;
  width: 53%;
}

.product-preview .preview.active {
  display: -ms-grid;
  display: grid;
}

.box-color {
  background: #30506c;
  width: 100%;
  border-right: 1px solid #707070;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  position: static;
}

.fa-xmark {
  position: absolute;
  right: 3%;
  font-size: 20px;
  color: #555555;
}

.product-name {
  font-size: 25px;
  letter-spacing: 1px;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  padding-top: 5px;
}

.fa-star {
  padding-left: 3px;
}

.stars .serialNumber {
  padding-left: 10px;
  color: #555555;
}

.about-content {
  padding-top: 30px;
}

.about-description {
  color: #555555;
  padding-right: 18px;
  padding-top: 5px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 47%;
  margin: 17px 0;
  padding: 15px;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid #30506c;
  color: #30506c;
  background: #fff;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
}

button:hover {
  color: #fff;
  background: #30506c;
}
/*# sourceMappingURL=style.css.map */